@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: theme('colors.mssn.slate');
    background-color: theme('colors.mssn.mist');
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-mssn-mist text-mssn-slate font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-semibold text-mssn-slate;
  }

  a {
    @apply transition text-current;
  }
}
